node_modules
build
contracts/player-contracts/*.sol
*.solved.js
*.solved.json
cache
.openzeppelin
.vscode
artifacts
cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
